<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Comentarios</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/dropzone/dist/dropzone.css">
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' 
        type='text/css'
        media='only screen and (min-width: 530px) and (min-device-width: 481px)'
        href='/stylesheets/style.css' />
  <link rel='stylesheet'
        type='text/css'
        media='only screen and (max-width: 480px)' 
        href='/stylesheets/smartphone.css' />
        <meta name="csrf-token" content="XYZ123">
        <link href='https://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
       <!-- <script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="js/jquery-ui-1.8.6.min.js"></script>-->
       
</head>
        
        
  </head>
  <body>
    <div id="page-wrap">
        <header class="main" id="title">
          Boda de Jorge y Cristina
        </header>
      
        <nav class="main" id="n1" role="navigation">
          <span><a href="/">Inicio</a></span>
          <span><a href="https://drive.google.com/folderview?id=0B6hXLRUckkIFOHVnNzBqT0hWMzQ&usp=sharing" target="_blank">Galeria de fotos</a></span>
          <span><a href="/comentarios">Comentarios</a></span>
        </nav>
            
      </div>
        <h1 id="inside">Añade tu comentario:</h1>
        <div id="register_form">
            <form method="post" action="/comentarios/create">
                    Nombre:<br/>
                    <input type="text" id="name" name="name" size="20" /><br/><br/>
                    Comentario:<br/>
                    <!--<textarea name="comment" id="comment" rows="6" cols="100%"></textarea>-->
                    <textarea name="comment" id="comment" 	style="width: 35%" rows="6"></textarea>
                    <br/><br/>
                    <div style="margin-left: 31%;"><input name="submit" type="submit" value="Enviar" id="enviar-btn" /></div>
            </form>
        </div>
      <div id="newmessage"></div>
      
        
            <table>
                 {{#each comment}}
                 <div class="readonly_label" id="field-function_purpose">
                        {{this.nombre}}
                 </div>
                 <div class="readonly_label_comment" id="field-function_purpose_comment">
                        {{this.comentario}}
                 </div>
                 <div class="readonly_label_dia" id="field-function_purpose_dia">
                        {{this.dia}}
                 </div>
                 <div class="readonly_label_hora" id="field-function_purpose_hora">
                        {{this.hora}}
                 </div>
                 
                 
                  <script type="text/javascript">
                  
                     var named = $('#field-function_purpose').text();
                     var commentario_c = $('#field-function_purpose_comment').text();
                     var dia = $('#field-function_purpose_dia').text();
                     var hora = $('#field-function_purpose_hora').text();
                     var commentario = commentario_c.replace(new RegExp("\n","g"), "<br>");
                     
                     $('#newmessage').prepend('<div class="comment"><div class="comment-autor"><small>'+dia+" "+hora+'</small><br/><strong>'+named+'</strong> dice:</div><div class="comment-text">'+commentario+'</div></div>');
                     
                     $('#field-function_purpose').text("");
                     $('#field-function_purpose').remove();
                     $('#field-function_purpose_comment').text("");
                     $('#field-function_purpose_comment').remove();
                     $('#field-function_purpose_dia').text("");
                     $('#field-function_purpose_dia').remove();
                     $('#field-function_purpose_hora').text("");
                     $('#field-function_purpose_hora').remove();
                  </script>
        
                {{/each}}
              </table>

    <script type="text/javascript" src="/dropzone/dist/dropzone.js"></script>
    <script type="text/javascript">
    
      Dropzone.options.uploadWidget = {
        paramName: 'file',
        maxFilesize: 10, // MB
        maxFiles: 1,
        dictDefaultMessage: 'Arrastra aquí la foto para subirla, o haz click para seleccionar una.',
        headers: {
          'x-csrf-token': document.querySelectorAll('meta[name=csrf-token]')[0].getAttributeNode('content').value,
        },
        acceptedFiles: 'image/*',
        init: function() {
          console.log( "Cosa1\n" );
          this.on('success', function( file, resp ){
            var fileList = new Array;
            var i =0;
             fileList[i] = {"serverFileName" : resp, "fileName" : file.name,"fileId" : i };
                        //console.log(fileList);
                        i++;
            console.log( file );
            console.log( resp );
          });
          console.log( "Cosa1\n" );
          this.on('thumbnail', function(file) {
            if ( file.width < 640 || file.height < 480 ) {
              file.rejectDimensions();
            } else {
              file.acceptDimensions();
            }
          });
        },
        accept: function(file, done) {
          file.acceptDimensions = done;
          file.rejectDimensions = function() {
            done('The image must be at least 640 x 480px')
          };
        }
      };
    </script>
     <script type="text/javascript">

$(document).ready(function() {
console.log( "ready!" );
 
    $("#enviar-btn").click(function() {

        var name = $("input#name").val();
        var comment= $("textarea#comment").val();
        var comment_mostrar = comment.replace(new RegExp("\n","g"), "<br>");
        var now = new Date();
        var date_show = now.getDate() + '-' + now.getMonth() + '-' + now.getFullYear() + ' ' + now.getHours() + ':' + + now.getMinutes() + ':' + + now.getSeconds();
        var month = new Array();
          month[0] = "Enero";
          month[1] = "Febrero";
          month[2] = "Marzo";
          month[3] = "Abril";
          month[4] = "Mayo";
          month[5] = "Junio";
          month[6] = "Julio";
          month[7] = "Agosto";
          month[8] = "Septiembre";
          month[9] = "Octubre";
          month[10] = "Noviembre";
          month[11] = "Diciembre";
        var month_name = month[now.getMonth()];
        var day = now.getDate()+ " de " + month_name + " de " + now.getFullYear();
        var hour = (("0"+now.getHours()).slice(-2))+ ":" + (("0"+now.getMinutes()).slice(-2));
        if (name == '') {
            alert('Debe añadir su nombre.');
            return false;
        }
        
        if (comment == '') {
            alert('Debe añadir un comentario.');
            return false;
        }


        var dataString = 'name=' + name + '&comment=' + comment;
        var data = {};
					data.nombre = name;
					data.comentario = comment;
					data.dia = day;
					data.hora = hour;

        $.ajax({
                type: "POST",
                url: "/comentarios/create",
//                data: dataString,
                data: JSON.stringify(data),
				        contentType: 'application/json',
                success: function() {
                   console.log('success');
                    $('#newmessage').prepend('<div class="comment"><div class="comment-autor"><small>'+day+" "+hour+'</small><br/><strong>'+name+'</strong> dice:</div><div class="comment-text">'+comment_mostrar+'</div></div>');
                    
                    $("input#name").val("");
                    $("textarea#comment").val("");
                }
        });
        return false;
    });
});
</script>

  </body>
</html>