<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Boda</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/dropzone/dist/dropzone.css">
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' 
        type='text/css'
        media='only screen and (min-width: 530px) and (min-device-width: 481px)'
        href='/stylesheets/style.css' />
  <link rel='stylesheet'
        type='text/css'
        media='only screen and (max-width: 480px)' 
        href='/stylesheets/smartphone.css' />
        <meta name="csrf-token" content="XYZ123">
        <link href='https://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id="page-wrap">
        <header class="main" id="title">
          Boda de Jorge y Cristina
        </header>
      
        <nav class="main" id="n1" role="navigation">
          <span><a href="/">Inicio</a></span>
          <span><a href="https://drive.google.com/folderview?id=0B6hXLRUckkIFOHVnNzBqT0hWMzQ&usp=sharing" target="_blank">Galeria de fotos</a></span>
          <span><a href="/comentarios">Comentarios</a></span>
        </nav>
      
    </div>
    <div id="uploader">
      <div class="container">
        <h1 id="inside">Sube tus fotos</h1>
  
        <div>
          <form id="upload-widget" method="post" action="/upload" class="dropzone">
            <div class="fallback">
              <input name="file" type="file" />
            </div>
          </form>
        </div>

      <!--<footer style="margin-top:500px;">
        <p>This demo is designed to accompany <a href="http://www.sitepoint.com/file-upload-form-express-dropzone-js/">this article</a>.</p>
      </footer>-->
      </div>
    </div>

    <script type="text/javascript" src="/dropzone/dist/dropzone.js"></script>
    <script type="text/javascript">
   
      Dropzone.options.uploadWidget = {
        paramName: 'file',
        maxFilesize: 5000, // MB
        maxFiles: 5000,
        dictDefaultMessage: 'Arrastra aquí la foto para subirla, o haz click para seleccionar una.',
        headers: {
          'x-csrf-token': document.querySelectorAll('meta[name=csrf-token]')[0].getAttributeNode('content').value,
        },
        //acceptedFiles: 'image/*',
       // acceptedFiles: 'application/pdf',
        init: function() {
         
          this.on('success', function( file, resp ){

            console.log( file );
            console.log( resp );
          });
        
          /*this.on('thumbnail', function(file) {
            if ( file.width < 640 || file.height < 480 ) {
              file.rejectDimensions();
            } else {
              file.acceptDimensions();
            }
          });*/
        },
        /*accept: function(file, done) {
          file.acceptDimensions = done;
          file.rejectDimensions = function() {
            done('The image must be at least 640 x 480px')
          };
        }*/
      };
    </script>
   <!-- <p>
     <div>
          <nav class="main" id="n1" role="navigation">
    <span><a href="/">Inicio</a></span>
    <span><a href="/uploadgoogle"><button type="button">Upload</button></a></span>
     <span><a href="https://drive.google.com/folderview?id=0B6hXLRUckkIFOHVnNzBqT0hWMzQ&usp=sharing" target="_blank">Ver</a></span>
  </nav>
        </form>
      </div>
    </p>-->
  </body>
</html>
